* {
  text-decoration: none;
  font-family: 'JetBrains Mono';
  color: black;
}

/* mobile */
@media (max-width: 768px) {

  body {
    background-color: #fff2ea;
    margin: 20px 8px auto 6px;
  }

  .index_tabs {
    /* background-color: lightpink; */
    color: black;
    font-size: 65%;
    text-align: right;
    text-decoration: none;
    margin: auto auto 10px auto;
  }

  canvas {
    width: 100%;
    display: block;
    margin: 0;
    margin-top: 15px;
    z-index: -1;
    border: 1px solid #fff2ea;
    border-radius: 3px;
  }

  #root {
    max-width: 100%;
  }

  #pedro {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 0;
    position: absolute;
    display: block;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #date-time {
    margin-bottom: 0;
    width: 100%;
    position: absolute;
    display: block;
    margin-top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 125%);
    font-size: .9vmax;
    text-align: center;
    letter-spacing: 3px;
  }

  #projects:hover {
    background-color: rgb(35, 60, 141);
    color: #fff2ea;
  }

  #lab:hover {
    background-color: rgb(35, 60, 141);
    color: #fff2ea;
  }

  #texts:hover {
    background-color: rgb(35, 60, 141);
    color: #fff2ea;
  }

  #about:hover {
    background-color: rgb(35, 60, 141);
    color: #fff2ea;
  }

  #lang-size {
    font-size: 65%;
  }

  .lang-div {
    position: absolute;
    top: 15px;
    margin-left: 0px;
  }

  .language#es {
    font-size: 55%;
    background-color: #fff2ea;
    border: none;
    cursor: pointer;
    background-image: url(../media/flag-argentina.png);
    background-size: 100% 100%;
    /* align-items: center; */

    /* background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none; */
  }

  .language#en {
    font-size: 55%;
    background-color: #fff2ea;
    border: none;
    cursor: pointer;
    background-image: url(../media/flag-united-states.png);
    background-size: 100% 100%;

    /* background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none; */
  }

  .language#es:hover {
    background-color: rgb(35, 60, 141);
    color: #fff2ea;
  }

  .language#en:hover {
    background-color: rgb(35, 60, 141);
    color: #fff2ea;
  }

  .home {
    position: absolute;
    font-size: 65%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .home:hover {
    background-color: rgb(35, 60, 141);
  }

  .icons {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
  }

  .footer {
    font-size: 6.5px;
    text-align: center;
    margin-top: 20px;
    line-height: 150%;
  }
}

* {
  text-decoration: none;
  font-family: 'JetBrains Mono';
  color: black;
}

/* desktop */
@media (min-width: 768px) {

  body {
    background-color: #fff2ea;
    margin: 20px 8px auto 6px;
  }

  .index_tabs {
    /* background-color: lightpink; */
    color: black;
    font-size: 100%;
    text-align: right;
    text-decoration: none;
    margin: auto auto 10px auto;
  }

  canvas {
    width: 100%;
    display: block;
    margin: 0;
    margin-top: 15px;
    z-index: -1;
    border: 1px solid #fff2ea;
    border-radius: 3px;
  }

  #root {
    max-width: 100%;
    /* margin: auto; */
  }

  #pedro {
    font-size: 250%;
    font-weight: bold;
    margin-bottom: 0;
    position: absolute;
    display: block;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #date-time {
    margin-bottom: 0;
    width: 100%;
    position: absolute;
    display: block;
    margin-top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 125%);
    font-size: .9vmax;
    text-align: center;
    letter-spacing: 3px;
  }

  #projects:hover {
    background-color: rgb(35, 60, 141);
    color: #fff2ea;
  }

  #lab:hover {
    background-color: rgb(35, 60, 141);
    color: #fff2ea;
  }

  #texts:hover {
    background-color: rgb(35, 60, 141);
    color: #fff2ea;
  }

  #about:hover {
    background-color: rgb(35, 60, 141);
    color: #fff2ea;
  }

  #lang-size {
    font-size: 100%;
  }

  .lang-div {
    position: absolute;
    top: 22px;
    margin-left: 0px;
  }

  .language#es {
    font-size: 100%;
    background-color: #fff2ea;
    border: none;
    cursor: pointer;
    background-image: url(../media/flag-argentina.png);
    background-size: 100% 100%;

    /* background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none; */
  }

  .language#en {
    font-size: 100%;
    background-color: #fff2ea;
    border: none;
    cursor: pointer;
    background-image: url(../media/flag-united-states.png);
    background-size: 100% 100%;

    /* background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none; */
  }

  .language#es:hover {
    background-color: rgb(35, 60, 141);
    color: #fff2ea;
  }

  .language#en:hover {
    background-color: rgb(35, 60, 141);
    color: #fff2ea;
  }

  .home {
    position: absolute;
    font-size: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .home:hover {
    background-color: rgb(35, 60, 141);
  }

  .icons {
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
  }

  .footer {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 150%;
  }

  p#footer {
    margin: 2px;
  }
}

* {
  text-decoration: none;
  font-family: 'JetBrains Mono';
  color: black;
}